#homeMap {
    height: 550px;
    /*border-radius: 5px;*/

    /*Bug? workaraund found on  http://stackoverflow.com/questions/8705249/css-border-radius-not-trimming-image-on-webkit <-- this bugs mozilla. http://stackoverflow.com/a/32144276/4971352 another fix here*/
    /*//box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);*/
}

.leaflet-popup-content-wrapper {
    border-radius: 2px;
    box-shadow: 0 3px 14px rgba(25,25,25,1);
    background-color: rgba(25,25,25,0.08);
}

#materialbox-overlay {
    background-color: transparent;
}