#homeMap {
    height: 550px;
}

.leaflet-popup-content-wrapper {
    border-radius: 2px;
    box-shadow: 0 3px 14px rgba(25,25,25,1);
    background-color: rgba(25,25,25,0.08);
}

#materialbox-overlay {
    background-color: transparent;
}

img.materialboxed.initialized{
    width: 100%;
}