footer.page-footer {
    margin-top: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f5f5f5;
}

main {
    flex: 1 0 auto;
}

.side-nav {
    z-index: 9999;
}

@media (min-width: 1025px) {
    .badgeGooglePlay {
        width: 250px;
        margin-left: -14px;
    }
}

@media (max-width: 1024px) {
    .badgeGooglePlay {
        width: 60%;
    }
}

#logo {
    height: 50px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 10px;
}

main > section {
    display: none;
}

nav ul li a {
    display: none;
}

blockquote {
    border-left: 5px solid #2196f3;
    border-radius: 3px;
    padding-left: 1rem;
}

.mapMetadata {
    text-shadow: 1px 1px 4px #000000;
}

.divider {
    height: 3px;
    background-color: #2196f3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bars .divider {
    height: 2px;
    background-color: #2196f3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.collection .divider {
    height: 1px;
    background-color: #2196f3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.collection {
    word-break: break-all;
}

.shareUrlHolder {
    display: none;
}

.btnGalleryExtra {
    margin: 3px;
}

.galleryImageInfoHolder .infoCollection {
    display: none;
}

img {
    border-radius: 3px;
}